@import url('https://rsms.me/inter/inter.css');

:root {
  --sansSerif: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

html { 
  background-color: rgb(255,255,255);
  color: rgb(29, 29, 31);
  font-family: 'Inter', var(--sansSerif); 
  font-size: 18px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #06c;
}

a:hover, a:active, html a:focus {
  text-decoration: underline;
}

p {
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -.01rem;
}

.emoji-picker {
  margin: 0.5rem 0;
}

input {
  font-size: 1rem;
  margin-top: 0.5rem; margin-bottom: 1rem;
  padding: 0.35rem 0.50rem;
  border-radius: 4px;
  border: 1px solid rgb(225, 225, 224);
  font-family: 'Inter', var(--sansSerif); 
}

#notification {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}

#notification div {
  background: black;
  color: white;
  font-size: 1rem;
  padding: 0.40rem 0.50rem;
  border-radius: 4px;
  opacity: 0.1;
  transition: 250ms all ease-in;
  transform: translate3d(0, 80px, 0);
  display: flex;
  align-items: center;
}

#notification.visible div {
  transform: translate3d(0, 0, 0);
  transition: 120ms all cubic-bezier(0.25, 0.47, 0.44, 0.93);
  opacity: 1;
}
