.emoji-picker {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: white;
  border: 1px solid #E5E5E5;
  contain: content;
}

.emoji-picker .emoji-picker-scroll {
  -webkit-overflow-scrolling: touch;
}

.emoji-picker .emoji-picker-scroll .emoji-picker-category-title {
  padding: 0 0.75em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #A3A3A3;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.emoji-picker .emoji-picker-scroll .emoji-picker-category-emoji {
  padding: 0 0.50em;
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 100%;
}

.emoji-picker .emoji-picker-emoji {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 4px;
  border-radius: 3px;
  flex-shrink: 0;
  box-sizing: content-box;
}

.emoji-picker .emoji-picker-emoji-focused,
.emoji-picker .emoji-picker-scroll .emoji-picker-emoji:hover,
.emoji-picker .emoji-picker-navbar .emoji-picker-emoji:hover {
  background: #E5E5E5;
}

.emoji-picker .emoji-picker-category-emoji > li:active .emoji-picker-emoji {
  background: #D4D4D4;
}

.emoji-picker .emoji-picker-navbar {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #E5E5E5;
  padding: 0.25em 9px;
}

.emoji-picker .emoji-picker-navbar .emoji-picker-navbar-category {
  appearance: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  height: 36px;
}

.emoji-picker .emoji-picker-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  user-select: none;
}

.emoji-picker .emoji-picker-footer .emoji-picker-emoji {
  width: 2.5em;
  height: 2.5em;  
  padding: 0.50em;
  cursor: inherit;
}

.emoji-picker .emoji-picker-footer .emoji-picker-emoji:active {
  background: inherit !important;
}

.emoji-picker .emoji-picker-footer .emoji-picker-name {
  text-align: left;
  padding: 0 0.25em;
}

/* DARK THEME */

.emoji-picker.emoji-picker-dark {
  background: #404040;
  color: white;
}
.emoji-picker.emoji-picker-dark, .emoji-picker.emoji-picker-dark .emoji-picker-navbar, .emoji-picker.emoji-picker-dark .emoji-picker-footer {
  border-color: #404040;
}
.emoji-picker.emoji-picker-dark .emoji-picker-category-title {
  color: #D4D4D4;
}
.emoji-picker.emoji-picker-dark .emoji-picker-emoji-focused,
.emoji-picker.emoji-picker-dark .emoji-picker-scroll .emoji-picker-emoji:hover,
.emoji-picker.emoji-picker-dark .emoji-picker-navbar .emoji-picker-emoji:hover {
  background: #737373;
}
.emoji-picker.emoji-picker-dark .emoji-picker-category-emoji > li:active .emoji-picker-emoji,
.emoji-picker.emoji-picker-dark .emoji-picker-navbar-category:active .emoji-picker-emoji {
  background: #A3A3A3;
}

@media (prefers-color-scheme: dark)  {
  .emoji-picker.emoji-picker-system {
    background: #404040;
    color: white;
  }
  .emoji-picker.emoji-picker-system, .emoji-picker.emoji-picker-system .emoji-picker-navbar, .emoji-picker.emoji-picker-system .emoji-picker-footer {
    border-color: #404040;
  }
  .emoji-picker.emoji-picker-system .emoji-picker-category-title {
    color: #D4D4D4;
  }
  .emoji-picker.emoji-picker-system .emoji-picker-emoji-focused,
  .emoji-picker.emoji-picker-system .emoji-picker-scroll .emoji-picker-emoji:hover,
  .emoji-picker.emoji-picker-system .emoji-picker-navbar .emoji-picker-emoji:hover {
    background: #737373;
  }
  .emoji-picker.emoji-picker-system .emoji-picker-category-emoji > li:active .emoji-picker-emoji,
  .emoji-picker.emoji-picker-system .emoji-picker-navbar-category:active .emoji-picker-emoji {
    background: #A3A3A3;
  }
}
